// @import 'node_modules/bulma/sass/utilities/initial-variables.sass';

$primary: rgb(0, 26, 31);

.card {
  padding: 10px;
  border-top: 1px solid $primary;
  border-left: 1px solid $primary;
}

// @import 'node_modules/bulma/bulma.sass'