// @import 'node_modules/bulma/sass/utilities/initial-variables.sass';

$primary: black;

.card {
  padding: 20px;
  border-top: 1px solid $primary;
  border-left: 1px solid $primary;
}

// @import 'node_modules/bulma/bulma.sass'